[alias]
	s = status
	co = checkout
	ci = commit
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls-alias = "!git config -l | grep alias | cut -c 7-"
	logp = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%<(11,trunc)%cr%Creset - %C(bold blue)%<(12,trunc)%aN%Creset -%C(yellow)%d%Creset %s' --abbrev-commit
	track = update-index --no-assume-unchanged
	untrack = update-index --assume-unchanged
	l = log --oneline
	b = branch
	ca = commit --amend
	amend = commit --amend --no-edit
	unstage = reset HEAD --
	undo = reset --soft HEAD~1
	cleanup = !git branch --merged | grep -v '\\*\\|master\\|main\\|develop' | xargs -n 1 git branch -d
	cp = cherry-pick
	f = fetch
	p = push
	pl = pull
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autostash = true
[rerere]
	enabled = true
[init]
	defaultBranch = master
[url "https://github.com/"]
	insteadOf = git://github.com/
[core]
	pager = delta
	autocrlf = input
	preloadindex = true
	fscache = true
	excludesfile = ~/.gitignore_global
[interactive]
  diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[includeIf "gitdir:~/personal/"]
	path = ~/.config/git/.gitconfig-personal
