[user]
	name = David Lam
	email = david.lam@uber.com
[alias]
	s = status
	co = checkout
  ci = commit
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls-alias = "!git config -l | grep alias | cut -c 7-"
  logp = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen%<(11,trunc)%cr%Creset - %C(bold blue)%<(12,trunc)%aN%Creset -%C(yellow)%d%Creset %s' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@git.unify.id:"]
	insteadof = https://git.unify.id/
[pull]
	rebase = true
[init]
	defaultBranch = master
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[url "ssh://gitolite@code.uber.internal/"]
	insteadOf = git://code.uber.internal/
[url "ssh://git@github.com/uber/"]
	insteadOf = https://github.com/uber/
[credential "https://git.uberinternal.com"]
	helper = usso
[url "ssh://code.uber.internal/"]
	insteadOf = https://code.uber.internal/
[url "ssh://config.uber.internal/"]
	insteadOf = https://config.uber.internal/
[credential "https://vfs4g-cache.uberinternal.com"]
	helper = usso
[http "https://gopkg.uberinternal.com"]
	followRedirects = true
[http "https://gopkg.in"]
	followRedirects = true
